{% assign house = include.house %}
<h2>Overige info</h2>
<dl>
  <dt>Bouwvergunning</dt>
  <dd>Ja</dd>

  <dt>Recente bestemming</dt>
  <dd>Woongebied</dd>

  <dt>E-peil</dt>
  <dd></dd>

  <dt>Perceelnummer</dt>
  <dd></dd>

  <dt>Vrij op</dt>
  <dd>bij oplevering</dd>

  <dt>Tuin</dt>
  <dd>{{ house.dimensions.garden }}m²</dd>

  <dt>Oriëntatie tuin</dt>
  <dd>ZW</dd>

  <dt>Tuin ingericht</dt>
  <dd>Volledig aangelegd</dd>

  <dt>Aantal douches</dt>
  <dd>1</dd>

  <dt>Afstand tot openbaar vervoer</dt>
  <dd>50m</dd>

  <dt>Instapklaar</dt>
  <dd>Ja</dd>
</dl>
