{% assign house = include.house %}
<h2>Indeling</h2>
<h4>Gelijkvloers</h4>
<dl>
  <dt>Badkamer 1</dt>
  <dd>8m²</dd>

  <dt>Berging</dt>
  <dd>3m²</dd>

  <dt>Inkomhal</dt>
  <dd>11m²</dd>

  <dt>Keuken</dt>
  <dd>9m²</dd>

  <dt>Living</dt>
  <dd>32m²</dd>

  <dt>Slaapkamer 1</dt>
  <dd>20m²</dd>

  <dt>Slaapkamer 2</dt>
  <dd>12,3m²</dd>

  <dt>WC</dt>
  <dd>2m²</dd>

  <dt>Plat dak</dt>
  <dd></dd>

  <dt>Garage</dt>
  <dd>{{ house.dimensions.garage }}m²</dd>

  <dt>Gelijkvloers</dt>
  <dd>{{ house.dimensions.floor0 }}m²</dd>

  <dt>Verdieping</dt>
  <dd>{{ house.dimensions.floor1 }}m²</dd>
</dl>
