{% assign house = include.house %}
<h2>Comfort</h2>
<dl>
  <dt>???</dt>
  <dd>Geïnstalleerd</dd>

  <dt>???</dt>
  <dd>Ingericht</dd>

  <dt>Verwarming</dt>
  <dd>Aardgas</dd>

  <dt>Verwarmingsketel</dt>
  <dd>Individueel</dd>

  <dt>Centrale verwarming</dt>
  <dd>Ja</dd>

  <dt>Zonnepanelen</dt>
  <dd>Ja</dd>

  <dt>???</dt>
  <dd>Kunststof</dd>

  <dt>???</dt>
  <dd>Dubbel glas</dd>

  <dt>???</dt>
  <dd>Ja</dd>

  <dt>???</dt>
  <dd>Individuele meter</dd>

  <dt>???</dt>
  <dd>Nog te plaatsen</dd>

  <dt>Aansluiting riolering</dt>
  <dd>Ja</dd>

  <dt>Aansluiting aardgas</dt>
  <dd>Ja</dd>

  <dt>Meter voor aardgas</dt>
  <dd>Individuele meter</dd>

  <dt>Aansluiting telefoonlijn</dt>
  <dd>Ja</dd>

  <dt>Aansluiting internet</dt>
  <dd>Ja</dd>

  <dt>Aansluiting waterleiding</dt>
  <dd>Ja</dd>

  <dt>???</dt>
  <dd>Individuele meter</dd>

  <dt>Regenwater</dt>
  <dd>Ja</dd>
</dl>
